@import "tailwindcss";

@theme {
    --color-blue-dull: #7AC0E3;
    --color-blue-bright: #41dcff;
    --color-pink-dull: #ecaed5;
    --color-pink-bright: #ff50c4;
    --color-orange-dark: #ce7b18;
    --color-orange-bright: #fe9f1a;
    --color-orange-dull: #ffb82b;
    --color-yellow-bright: #fff98e;
    --color-green-bright: #c3fb35;
    --color-green-dark: #37d510;
    --color-purple-bright: #d062e8;
    --color-purple-mid: #8b61ca;
    --color-purple-dark: #482e8d;
    --color-white-bright: #e7f9fc;
    --color-navy-bright: #1616a1;
    --color-navy-dark: #1d1935;
}

@font-face {
    font-family: jojoba;
    src: url('/Jojoba.otf');
}

@font-face {
    font-family: interphases;
    src: url('/Interphases.ttf');
}

@font-face {
    font-family: cooperblack;
    src: url('cooper_black_condensed.otf');
}

.jojoba {
    font-family: jojoba;
}

.interphases {
    font-family: interphases;
}

.cooperblack {
    font-family: cooperblack;
}

.text-border {
    text-shadow: 4px 4px 0 white, -4px 4px 0 white, 4px -4px 0 white, -4px -4px 0 white;
}

.large-text-border {
    text-shadow: 6px 6px 0 white, -6px 6px 0 white, 6px -6px 0 white, -6px -6px 0 white;
}

.space_gradient {
    background-image: linear-gradient(to top, #FDA01D, #dfb5c1 30%, transparent 70%), url('/landing/backgrounds/bg_space.png');
}

@media (min-width: 1280px) {
    .space_gradient {
        background-image: linear-gradient(to top, #dfb5c1, transparent 30%), url('/landing/backgrounds/bg_space.png');
    }
}

@media (max-width: 1024px) {
    .text-border {
        text-shadow: 2px 2px 0 white, -2px 2px 0 white, 2px -2px 0 white, -2px -2px 0 white;
    }

    .large-text-border {
        text-shadow: 4px 4px 0 white, -4px 4px 0 white, 4px -4px 0 white, -4px -4px 0 white;
    }
}


@keyframes wiggle {
    from {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(5deg);
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}